.linebreak-row {
  display: flex;
  flex-direction: column;
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
}

.linebreak-row textarea {
  height: 20rem;
  width: 100%;
  margin: auto;
  font-size: 1em;
}

.linebreak-row-item {
  padding-left: .9375rem;
  padding-right: .9375rem;
}

.linebreak-middleutils {
  display: flex;
  flex-direction: column;
}

.linebreakButton {
  font-family: inherit;
  font-size: 18px;
  padding: 0.25em 0.5em;
  border: none;
  border-radius: 5px;
  background-color: #02E382;
}

@media screen and (min-width: 641px) {
  .linebreak-row {
    flex-direction: row;
  }
}