.flex-row {
  display: flex;
  flex-direction: column;
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
}

.flex-row textarea {
  height: 20rem;
  width: 100%;
  margin: auto;
  font-size: 1em;
}

.linebreak-middleutils {
  display: flex;
  flex-direction: column;
  padding-left: .9375rem;
  padding-right: .9375rem;
}

@media screen and (min-width: 641px) {
  .flex-row {
    flex-direction: row;
  }
}