table.responsiveTable {
    table-layout: fixed !important;
    max-width: 100% !important;
}

table.responsiveTable td {
    word-wrap: break-word !important;
}

table.responsiveTable thead {
    background-color: #ffdd36;
    color: black;
}