.semibold {
  font-weight: 600;
}

.pointer {
  cursor: pointer;
}

.notbold {
  font-weight: 400;
}

nav {
  display: flex;
  justify-content: space-around;
}

nav a {
  color: black;
  width: 100%;
  text-align: center;
  padding-top: 2px;
  padding-bottom: 2px; 
}

nav a.active {
  background-color: black;
  color: white;
}

@media screen and (max-width: 640px) {
  .ReactModal__Overlay--after-open {
    display: flex;
    align-items: center;
  }

  .ReactModal__Overlay--after-open .ReactModal__Content--after-open {
    top: auto !important;
    bottom: auto !important;
  }
}