.semibold {
  font-weight: 600;
}

.pointer {
  cursor: pointer;
}

.notbold {
  font-weight: 400;
}

nav {
  display: flex;
  justify-content: space-around;
}

nav a {
  color: black;
  width: 100%;
  text-align: center;
  padding-top: 2px;
  padding-bottom: 2px; 
}

nav a.active {
  background-color: #ffdd36;
  color: black;
}

@media screen and (max-width: 640px) {
  .ReactModal__Overlay--after-open {
    display: flex;
    align-items: center;
  }

  .ReactModal__Overlay--after-open .ReactModal__Content--after-open {
    top: auto !important;
    bottom: auto !important;
  }
}

.home-title {
  font-weight: bold;
}

.audit-link {
  border: 3px solid black;
  width: fit-content;
  padding: 10px;
  background-color: rgb(255, 224, 130);
  border-radius: 7px;
  margin-bottom: 70px;
}

.audit-link a {
  color: black;
  text-decoration: none;
  font-weight: 600;
}

.audit-link svg {
  width: 15px;
  height: 15px;
  padding-right: 10px;
}