.semibold {
  font-weight: 600;
}

.pointer {
  cursor: pointer;
}

.notbold {
  font-weight: 400;
}

nav {
  display: flex;
  justify-content: space-around;
}

nav a {
  color: black;
  width: 100%;
  text-align: center;
  padding-top: 2px;
  padding-bottom: 2px; 
}

nav a.active {
  background-color: #ffdd36;
  color: black;
}

@media screen and (max-width: 640px) {
  .ReactModal__Overlay--after-open {
    display: flex;
    align-items: center;
  }

  .ReactModal__Overlay--after-open .ReactModal__Content--after-open {
    top: auto !important;
    bottom: auto !important;
  }
}

.top-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 2rem;
}

.left-column {
  flex: 1;
  max-width: 400px;
}

.date-input-row {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.right-column {
  flex: 1;
  max-width: 300px;
  margin-right: 40px;
}

.quick-access-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-top: 1rem;
}

.quick-access-item {
  border: 1px solid;
  padding: 1rem;
  text-align: left;
  border-radius: 7px;
  font-weight: 500;
  color: #333;
  font-size: 16px;
  text-decoration: none;
  width: 130px;
}

.quick-access-item:hover {
  background: #eee;
}

.icon-item {
  display: flex;
  gap: 8px;
  text-align:left; 
  align-items:center;
}