#home-text-field {
    margin: 0;
    padding: 0;
}

form div {
    margin: 0 0 0.35rem 0;
}

#demo-simple-select-standard {
    margin: 0;
}

.design-notes-form {
    padding: 2rem 3rem;
    background-color: rgb(245, 245, 245);
    border-radius: 1rem;
}