body {
  font-family: 'Work Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 3rem;
}

h2 {
  margin-bottom: 0.5em;
  font-weight: 600;
}

p {
  font-size: 0.9em;
}

.react-tabs__tab-list {
  margin-bottom: 1px !important;
  font-weight: 600;
  font-size: 18px;
  border-bottom: 0px solid transparent !important
}

.react-tabs__tab {
  border: 0px !important;
}

.react-tabs__tab--selected {
  background-color: black !important;
  color: white !important;
}

table {
  border-spacing: 0;
}

table.responsiveTable thead {
  background-color: rgb(227, 227, 227);
  color: black;
  /* box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); */
  /* box-shadow: 0px 1.5px 0px rgba(0, 0, 0, 0.2); */
}

table.responsiveTable thead tr th {
  text-align: left;
  font-weight: 600;
  text-transform: capitalize;
  padding: 0.75rem;
}

@media screen and (min-width: 641px) {
  table.responsiveTable tbody tr td {
    padding-top: 1em;
    padding-bottom: 1em;
  }

  table.responsiveTable td {
    padding: 0.5rem 10px;
    border-bottom: 1px solid rgb(226, 226, 226);
  }
}

form div {
  margin-top: 1em;
  margin-bottom: 1em;
  display: flex;
}

form div label {
  text-transform: capitalize;
  font-size: 18px;
}

input {
  flex-grow: 1;
}

button {
  padding: 0.5em;
  border: none;
  background-color: black;
  color: white;
  font-family: inherit;
  font-size: 12px;
  border-radius: 3px;
}

button.primary {
  background-color: #02E382;
  color: black;
  font-size: 18px;
  padding: 0.25em 0.5em;
}

span.delete {
  color: #E63C3C;
  cursor: pointer;
  margin-left: 1.3rem;
}

span.edit {
  color: white;
  font-weight: 600;
  cursor: pointer;
  background-color: #1976d2;
  outline: 1px solid #1976d2;
  padding: 0.3rem 0.7rem;
  border-radius: 0.3rem;
}

span.edit:hover {
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

span.sting {
  background-color: yellow;
  color: black;
  text-decoration: underline;
  cursor: pointer;
}

button:hover {
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
  -webkit-box-shadow: 0 13px 27px -5px rgba(50,50,93,.25), 0 8px 16px -8px rgba(0,0,0,.3), 0 -6px 16px -6px rgba(0,0,0,.025);
  box-shadow: 0 13px 27px -5px rgba(50,50,93,.25), 0 8px 16px -8px rgba(0,0,0,.3), 0 -6px 16px -6px rgba(0,0,0,.025);
  -webkit-box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
  box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
}