body {
  font-family: 'Work Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 3rem;
}

h2 {
  margin-bottom: 0.5em;
  font-weight: 600;
}

p {
  font-size: 0.9em;
}

.react-tabs__tab-list {
  margin-bottom: 0px !important;
  font-weight: 600;
  font-size: 18px;
  border-bottom: 0px solid transparent !important
}

.react-tabs__tab {
  border: 0px !important;
}

.react-tabs__tab--selected {
  background-color: black !important;
  color: white !important;
}

table {
  border-spacing: 0;
}

table.responsiveTable thead {
  background-color: black;
  color: white;
}

table.responsiveTable thead tr th {
  text-align: left;
  font-weight: 600;
  text-transform: capitalize;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

@media screen and (min-width: 641px) {
  table.responsiveTable tbody tr td {
    padding-top: 1em;
    padding-bottom: 1em;
  }
}

@media screen and (max-width: 40em) {
  .responsiveTable td {
    word-break: break-word;
  }
}

form div {
  margin-top: 1em;
  margin-bottom: 1em;
  display: flex;
}

form div label {
  text-transform: capitalize;
  font-size: 18px;
}

input {
  flex-grow: 1;
}

button {
  padding: 0.5em;
  border: none;
  background-color: black;
  color: white;
  font-family: inherit;
  font-size: 12px;
  border-radius: 3px;
}

button.primary {
  background-color: #02E382;
  color: black;
  font-size: 18px;
  padding: 0.25em 0.5em;
}

button.delete {
  background-color: #E63C3C;
  color: white;
}

span.delete {
  color: #E63C3C;
  text-decoration: underline;
  cursor: pointer;
  margin-right: 2em;
}

span.edit {
  color: #1AC4EB;
  text-decoration: underline;
  cursor: pointer;
}

span.sting {
  background-color: yellow;
  color: black;
  text-decoration: underline;
  cursor: pointer;
}

button:hover {
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
  -webkit-box-shadow: 0 13px 27px -5px rgba(50,50,93,.25), 0 8px 16px -8px rgba(0,0,0,.3), 0 -6px 16px -6px rgba(0,0,0,.025);
  box-shadow: 0 13px 27px -5px rgba(50,50,93,.25), 0 8px 16px -8px rgba(0,0,0,.3), 0 -6px 16px -6px rgba(0,0,0,.025);
  -webkit-box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
  box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
}