html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
}

body {
  font-family: 'Work Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  margin-bottom: 0.5em;
  font-weight: 700;
  font-size: 2.25em;
}

p {
  font-size: 1em;
}

.app-container {
  display: flex;
  overflow: visible;
  height: 100vh;
}

.main-content {
  padding: 2rem;
  overflow-y: auto;
  background-color: #f8f8f8;
}

.react-tabs__tab-list {
  margin-bottom: 0px !important;
  font-weight: 500;
  font-size: 18px;
  border-bottom: 0px solid transparent !important
}

.react-tabs__tab {
  background-color: #F3F1EA;
  bottom: 0px !important;
  border-right: 0.25px solid rgba(0, 0, 0, 0.12) !important;
  border-left: 0.25px solid rgba(0, 0, 0, 0.12) !important;
  color: #656565;
  padding-top: 1em !important;
  padding-bottom: 1em !important;
}

.react-tabs__tab--selected {
  background-color: #FFE082 !important;
  color: rgb(0, 0, 0) !important;
  border-radius: 0 !important;
  border-top: 5px solid black !important;
}

.react-tabs__tab:first-child {
  border-left: 0 !important;
}

.react-tabs__tab:last-child {
  border-right: 0 !important;
}

table {
  border-spacing: 0;
}

table.responsiveTable thead {
  background-color: black;
  color: white;
}

table.responsiveTable thead tr th {
  text-align: left;
  font-weight: 500;
  text-transform: capitalize;
  padding: 1em;
}

table.responsiveTable td {
  text-align: left;
  padding: 1em;
  width: fit-content;
}

@media screen and (min-width: 641px) {
  table.responsiveTable tbody tr td {
    padding-top: 1em;
    padding-bottom: 1em;
  }
}

@media screen and (max-width: 40em) {
  .responsiveTable td {
    word-break: break-word;
  }
}

form div {
  margin-top: 1em;
  margin-bottom: 1em;
  display: flex;
}

form div label {
  text-transform: capitalize;
  font-size: 18px;
}

input {
  flex-grow: 1;
}

button {
  padding: 0.5em;
  border: none;
  background-color: black;
  color: white;
  font-family: inherit;
  font-size: 12px;
  border-radius: 3px;
}

button.primary {
  background-color: #02E382;
  color: black;
  font-size: 18px;
  padding: 0.25em 0.5em;
}

button.delete {
  background-color: #9a9a9a;
  color: white;
}

span.delete {
  color: #9a9a9a;
  text-decoration: underline;
  cursor: pointer;
}

span.edit {
  color: #9a9a9a;
  text-decoration: underline;
  cursor: pointer;
  margin-right: 1em;
}

span.sting {
  background-color: yellow;
  color: black;
  text-decoration: underline;
  cursor: pointer;
}

button:hover {
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
  -webkit-box-shadow: 0 13px 27px -5px rgba(50,50,93,.25), 0 8px 16px -8px rgba(0,0,0,.3), 0 -6px 16px -6px rgba(0,0,0,.025);
  box-shadow: 0 13px 27px -5px rgba(50,50,93,.25), 0 8px 16px -8px rgba(0,0,0,.3), 0 -6px 16px -6px rgba(0,0,0,.025);
  -webkit-box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
  box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
}